@page "/regiao/{Id:int}"

@rendermode InteractiveServer

@inject ApplicationDbContext Context

@inject NavigationManager Navigation

<h1>Detalhes</h1>

<EditForm Model="@Regiao">
    <div class="mb-3">
        <label class="form-label" for="regiao">Região</label>
        <InputText id="regiao" class="form-control" @bind-Value="Regiao.Nome" readonly/>
    </div>
    <a href="/regiao" class="btn btn-primary">voltar</a>

</EditForm>

@code
{
    [Parameter]
    public int Id{get;set;}

    public Regiao Regiao{get;set;}

    protected override async Task OnInitializedAsync()
    {
        Regiao = await Context.Regioes.AsNoTracking()
            .FirstOrDefaultAsync<Regiao>(x => x.Id == Id);
    }
}